<% provide(:title, 'Contact') %>
<div class="center jumbotron top-text-block1">
<h1>お問い合わせ</h1>
<p>
  お問い合わせ ページはただいま準備中です。
  <!--<a href="http://railstutorial.org/contact">contact page</a>.-->
</p>
</div>